.tiles-left-container {
  text-align: center; /* text-center */
  margin-bottom: 1rem; /* mb-4 */
}

.tiles-left-total {
  font-weight: 600; /* font-semibold */
}

.tiles-left-vowels {
  color: #3b82f6; /* text-blue-500 */
  font-weight: bold; /* font-bold */
}

.tiles-left-consonants {
  color: #22c55e; /* text-green-500 */
  font-weight: bold; /* font-bold */
}
