.tiles-left-container {
  text-align: center;
  margin-bottom: 1rem;
}

.tiles-left-total {
  font-weight: 600;
}

.tiles-left-vowels {
  color: #3b82f6;
  font-weight: bold;
}

.tiles-left-consonants {
  color: #22c55e;
  font-weight: bold;
}
